<a href="https://colab.research.google.com/github/KirtiRanjan26/All-Assignment-/blob/main/Day_1_python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python Basic

##syntex And Symentic

###**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
print("Hello world")

Hello world

###**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
name=input("Enter your name:")
print(name)

Enter your name:Kirti Ranjan Ghadei
Kirti Ranjan Ghadei

###**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
num=int(input("enter a number:"))
if (num>0):
  print("number is positive")
elif (num<0):
  print("number is negative")
else:
  print("number is equal to zero")

enter a number:-23
number is negative

###**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
num3=int(input("enter 3rd nunnber:"))
if(num1>num2):
  if(num2>num3):
    print("num1 is greter")
  else:
    print("num2 is greter")
else:
  print("num3 is greter")

enter 1st number:10
enter 2nd number:11
enter 3rd nunnber:12
num3 is greter

###**Question 5:** Write a Python program to calculate the factorial of a number.

In [13]:
num=int(input("enter a number:"))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

enter a number:4
24

## Variables and Data Types

###**Question 7:** Write a Python program to swap the values of two variables.

In [15]:
num1=12
num2=10
num3=num1
num1=num2
num2=num3
print("after swap the number",num1,num2)

after swap the number 10 12

###**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [16]:
# Celsius to Fahrenheit Converter

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}째C is equal to {fahrenheit}째F")

Enter temperature in Celsius: 34
34.0째C is equal to 93.2째F

###**Question 9:** Write a Python program to concatenate two strings.

In [19]:
str1="kiri Ranjan"
str2=" ""Ghadei"
print(str1+str2)

kiri Ranjan Ghadei

###**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [23]:
var=25
print(type(var))
print(isinstance(var,int))

<class 'int'>
True

## 3. Basic Operators (Arithmetic, Comparison, Logical)

###**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [24]:
num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

enter 1st number:12
enter 2nd number:12
24
0
144
1.0

###**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [25]:
num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)

enter 1st number:10
enter 2nd number:12
False
True
False
True

###**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [26]:
num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
print(num1>num2 and num1==num2)
print(num1>num2 or num1==num2)

enter 1st number:23
enter 2nd number:45
False
False

###**Question 14:** Write a Python program to calculate the square of a number.

In [27]:
num=int(input("enter a number:"))
print(num**2)

enter a number:2
4

###**Question 15:** Write a Python program to check if a number is even or odd.

In [30]:
num=int(input("enter a number:"))
if (num%2==0):
  print("number is even")
else:
  print("number is odd")

enter a number:67
number is odd

###**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [31]:
num=int(input("enter a number:"))
sum=0
for i in range(1,num+1):
  sum=sum+i
print(sum)

enter a number:23
276

###**Question 17:** Write a Python program to check if a year is a leap year.

In [35]:
year=int(input("enter a year:"))
if (year%4==0):
  print("year is leap year")
else:
  print("year is not leap year")

enter a year:2022
year is not leap year

###**Question 18:** Write a Python program to reverse a string.

In [36]:
str=input("enter a string:")
print(str[::-1])

enter a string:kirti
itrik

###**Question 19:** Write a Python program to check if a string is a palindrome.

In [38]:
str=input("enter a string:")
if (str==str[::-1]):
  print("string is palindrome")
else:
  print("string is not palindrome")

enter a string:Mom
string is not palindrome

###**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [39]:
list=[1,2,3,4,5]
list.sort()
print(list)

[1, 2, 3, 4, 5]